/* Base Styles */
:root {
  --main-background: var(--dark-background);
  --main-search-background: var(--dark-search-background);
  --main-sidebar-background: var(--dark-sidebar-background);
  --main-accent: var(--accent-blue);

  --dark-background: 0 0 0;
  --dim-background: 22 33 44;
  --light-background: 255 255 255;

  --dark-search-background: 32 35 39;
  --dim-search-background: 39 51 64;
  --light-search-background: 239 243 244;

  --dark-sidebar-background: 22 24 28;
  --dim-sidebar-background: 30 39 50;
  --light-sidebar-background: 247 249 249;

  --accent-yellow: 255 213 0;
  --accent-blue: 29 155 240;
  --accent-pink: 249 26 130;
  --accent-purple: 120 87 255;
  --accent-orange: 255 122 0;
  --accent-green: 0 184 122;
}

a,
input,
button,
textarea {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--main-background);
  font-family: "TwitterChirp", sans-serif;
  color: var(--light-primary);
}

body.dark {
  color: var(--dark-primary);
}

/* Component Styles */
.hover-animation {
  transition: colors 200ms;
}

.custom-button {
  transition: colors 200ms;
  border-radius: 9999px;
  padding: 12px;
  cursor: pointer;
}

.custom-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.custom-underline {
  transition: colors 200ms, text-decoration-thickness 200ms;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  outline: none;
}

.custom-underline:hover,
.custom-underline:focus-visible {
  text-decoration: inherit;
}

.main-tab {
  outline: none;
}

.main-tab:focus-visible {
  ring: 2px solid #878a8c;
  transition: shadow 200ms;
}

.main-tab.dark:focus-visible {
  ring: 2px solid white;
}

.accent-tab:focus-visible {
  ring: 2px solid var(--main-accent);
}

.accent-bg-tab:focus-visible {
  background: rgba(var(--main-accent), 0.1);
}

.dark-bg-tab:focus-visible {
  background: rgba(var(--light-primary), 0.1);
}

body.dark .dark-bg-tab:focus-visible {
  background: rgba(var(--dark-primary), 0.1);
}

.blur-picture {
  transition: brightness 200ms;
  border-radius: 9999px;
}

.blur-picture:hover {
  filter: brightness(75%);
}

.blur-picture:active {
  filter: brightness(100%);
}

.trim-alt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hover-card:hover,
.hover-card:focus-visible {
  background: rgba(0, 0, 0, 0.03);
}

body.dark .hover-card:hover,
body.dark .hover-card:focus-visible {
  background: rgba(255, 255, 255, 0.03);
}

.menu-container {
  z-index: 10;
  border-radius: 0.375rem;
  background: var(--main-background);
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

body.dark .menu-container {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}
